---
layout: default
title: Oh No!
---

<section id="main_content" class="inner">
    <h1 class="mega">404</h1>
    <div class="bigText">
        <p>The page you are looking for does not exist.</p>
        <div id="redirectNotice" style="display:none;">
            <p>However, we've detected that you were trying to reach a link from our old
            blog location.</p>
            <p>If you'd like to go on to your intended post just wait a moment or click
                <a id="articleLink" href="/">here</a>.
            </p>
            <div id="countdownClock" class="transition_capacity">
                <div id="timeToRedirect" class="float">5s</div>
                <div id="stopCountdown" class="float">Stop Redirect</div>
            </div>
            <div class="clear"></div>
            <div class="spacer_50"></div>
        </div>
        <p>Feel free to browse the complete list of articles</p>
        <div id='categoryListings'>
            <div class="label">Culture</div>
            <ul>
                {% for post in site.categories.culture %}
                <li><a href="{{post.url}}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="label">Engineering</div>
            <ul>
                {% for post in site.categories.engineering %}
                <li><a href="{{post.url}}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="label">CEO Office</div>
            <ul>
                {% for post in site.categories.ceooffice %}
                <li><a href="{{post.url}}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<script>
    var linkMap = {};
    {% for post in site.posts %}
    linkMap["{{ post.oldLink }}"] = "{{ post.url }}";
    {% endfor %}

    // replace this clearing the timeout
    var timer = null;
    var btn = document.getElementById('stopCountdown');
    btn.addEventListener('click', function(e){
        clearTimeout( timer );
        document.getElementById("countdownClock").className += ' faded';
    });

    var countdown = function( clockID, callback ) {
        var seconds = 5;
        var clock = document.getElementById(clockID);
        var tick = function(){
            clock.innerHTML = seconds + 's';
            if (seconds > 0) {
                seconds -= 1;
                timer = setTimeout(tick, 1000);
            } else {
                callback();
            }
        };
        timer = setTimeout(tick, 1000);
    };

    if (location.pathname in linkMap) {
        document.getElementById("redirectNotice").style.display = 'block';
        document.getElementById("articleLink").href = linkMap[location.pathname];
        countdown('timeToRedirect', function(){
            window.location = linkMap[location.pathname];
        });
    }
    
</script>
