---
layout: newhome
title: NxJ Blog
---

<div class='row'>
    <div class="small-12 medium-6 large-4 column">
        <div class="block orange oneandhalf">
            <header>
                <a href="/">
                    <div id="logo">
                        <img src="/images/nxj.png" />
                        blog
                    </div>
                </a>
                <nav>
                    <ul>
                        <li><a href='/newindex.html'>Home</a></li>
                        <li><a href='/newculture.html'>Our Culture</a></li>
                        <li class="selected"><a href='/newengineering.html'>Engineering</a></li>
                        <li><a href='/newceooffice.html'>CEO Office</a></li>
                    </ul>
                </nav>
                <div class="social-buttons">
                    <div class="icon share"></div>
                    <div class="icon plus1"></div>
                    <div class="icon tweet last"></div>
                </div>
            </header>
        </div>
        <div class="block info half">
            The Next Jump blog is a look into the culture of a company that believes corporations can change the world.
        </div>
    </div>
    <div class='small-12 medium-6 large-4 column'>
        {% for post in site.categories.engineering limit:1 %}
        <article class='block double gray lightbg latest'>
            <div class="corner-triangle"></div>
            <header>
                <div class="featureLabel">Latest Article</div>
                <div class="author">- {{ post.author }} -</div>
                <div class="previewImage" style="background-image: url('/images/{{ post.previewimg }}');">
            </header>
            <div class="content">
                <div class="title" style="color: #d25676;">
                    {{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}
                </div>
                <div class="excerpt"> {{ post.excerpt }} </div>
                <a href="{{ post.url }}"> <div class="readMore" style="color: #c02942;">Read More</div> </a>
            </div>
        </article>
        {% endfor %}
    </div>

    {% for post in site.categories.engineering %} {% unless forloop.first %}
    <div class='small-12 medium-6 large-4 column'>
        <a href="{{ post.url }}">
        {% include article-card.html %}
        </a>
    </div>
    {% endunless %} {% endfor %}
</div>


<!--
    <div class='small-12 medium-6 large-4 columns'>
        <section class='full gray'>
            <div class='row'>
                <div class='small-12 columns topbar'>Hello</div>
            </div>
            <div class="row">
                <div class="small-1  columns"></div>
                <div class="small-10 columns seeTweets">Hello</div>
                <div class="small-1  columns"></div>
            </div>
        </section>
    </div>
-->
