---
layout: newhome
title: NxJ Blog
---

<div class='row'>
    <div class="small-12 medium-6 large-4 column">
        <div class="block orange oneandhalf">
            <header>
                <a href="/">
                    <div id="logo">
                        <img src="/images/nxj.png" />
                        blog
                    </div>
                </a>
                <nav>
                    <ul>
                        <li class="selected"><a href='/'>Home</a></li>
                        <li><a href='/culture.html'>Our Culture</a></li>
                        <li><a href='/engineering.html'>Engineering</a></li>
                        <li><a href='/ceooffice.html'>CEO Office</a></li>
                    </ul>
                </nav>
                <div class="icon share"></div>
                <div class="icon plus1"></div>
                <div class="icon tweet"></div>
            </header>
        </div>
        <div class="block info half">
            The Next Jump blog is a look into the culture of a company that believes corporations can change the world.
        </div>
    </div>
    <div class='small-12 medium-6 large-4 column'>
        {% for post in site.posts limit:1 %}
        <article class='block double gray lightbg latest'>
            <div class="corner-triangle"></div>
            <header>
                <div class="label">Latest Article</div>
                <div class="author">- {{ post.author }} -</div>
                <img src="/images/armsrace_rollout.png">
            </header>
            <div class="content">
                <div class="title" style="color: #d25676;">
                    {{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}
                </div>
                <div class="excerpt"> {{ post.excerpt }} </div>
                <a href="{{ post.url }}"> <div class="readMore" style="color: #c02942;">Read More</div> </a>
            </div>
        </article>
        {% endfor %}
    </div>

    <div class='small-12 medium-6 large-4 columns'>
        <section class='block full gray'>
            <div class='topbar'></div>
            <div style="position: absolute; bottom: 20px; left: 20px; width: 260px; height: 45px;background-color: #26c5fc;"></div>
        </section>
    </div>

    {% for post in site.posts limit:5 %} {% unless forloop.first %}
    <div class='small-12 medium-6 large-4 column'>
        <a href="{{ post.url }}">
            <article class="block full {{ post.category }} articlePreview">
                <div class="title">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}</div>
                <div class='author'>
                    <div class="icon person left"></div>
                    <div> {{ post.author }} </div>
                </div>
                <div class='publishDate'>
                    <div class="icon date left"></div>
                    <div> {{ post.date | date: "%d %b" }} </div>
                </div>
            </article>
        </a>
    </div>
    {% endunless %} {% endfor %}
</div>

