---
layout: newhome
title: NxJ Blog
---

<div class='row'>
    <div class="small-12 medium-6 large-4 column">
        <div class="block orange oneandhalf">
            <header>
                <a href="/">
                    <div id="logo">
                        <img src="/images/nxj.png" />
                        blog
                    </div>
                </a>
                <nav>
                    <ul>
                        <li class="selected"><a href='/'>Home</a></li>
                        <li><a href='/culture.html'>Our Culture</a></li>
                        <li><a href='/engineering.html'>Engineering</a></li>
                        <li><a href='/ceooffice.html'>CEO Office</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="block info half">
            The Next Jump blog is a look into the culture of a company that believes corporations can change the world.
        </div>
    </div>
    <div class='small-12 medium-6 large-4 column'>
        {% for post in site.posts limit:1 %}
        <div class='block double gray lightbg'>
            <div style="position: absolute; top: 0; right: 0; background-color: #69d2e7; width: 25px; height: 25px;"></div>
            <div class="header">
                <div class="label">Latest Article</div>
                <div class="author">- {{ post.author }} -</div>
                <img src="/images/armsrace_rollout.png" style="max-width: 300px;">
            </div>
            <div class="content">
                <div class="title" style="color: #d25676;">
                    {{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}
                </div>
                <div class="excerpt"> {{ post.excerpt }} </div>
                <a href="{{ post.url }}"> <div class="readMore" style="color: #c02942;">Read More</div> </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class='small-12 medium-6 large-4 columns'>
        <div class='block full gray'>
            <div class='topbar'></div>
            <div style="position: absolute; bottom: 20px; left: 20px; width: 260px; height: 45px;background-color: #26c5fc;"></div>
        </div>
    </div>

    {% for post in site.posts limit:5 %} {% unless forloop.first %}
    <div class='small-12 medium-6 large-4 column'>
        <a href="{{ post.url }}">
            <div class="block full {{ post.category }} articlePreview">
                <div class="title">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}</div>
                <div class='author'>{{ post.author }}</div>
                <div class='date'>{{ post.date | date: "%d %b" }}</div>
            </div>
        </a>
    </div>
    {% endunless %} {% endfor %}
</div>

