        <a href="{{ post.url }}">
        <article class='block double gray lightbg latest'>
            <div class="corner-triangle"></div>
            <header>
                <div class="featureLabel">Latest Article</div>
                <div class="author">- {{ post.author }} -</div>
                {% if post.previewimg %}
                <div class="previewImage" style="background-image: url('/images/{{ post.previewimg }}');"></div>
                {% endif %}
            </header>
            <div class="content">
                <div class="title" style="color: #d25676; font-size: 24px;">
                    {{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}
                </div>
                <div class="excerpt{% if post.previewimg %} shortened{% endif %}"> {{ post.excerpt }} </div>
                <div class="readMore">Read More</div>
            </div>
        </article>
        </a>
