        <div class="block orange oneandhalf">
            <header>
                <a href="/">
                    <div id="logo">
                        <img src="/images/nxj.png" />
                        blog
                    </div>
                </a>
                <nav>
                    <ul>
                        <li class="nav_home"><a href='/newindex.html'>Home</a></li>
                        <li class="nav_culture"><a href='/newculture.html'>Our Culture</a></li>
                        <li class="nav_engineer"><a href='/newengineering.html'>Engineering</a></li>
                        <li class="nav_ceo"><a href='/newceooffice.html'>CEO Office</a></li>
                    </ul>
                </nav>
                <div class="social-buttons">
                    <div class="icon share"></div>
                    <div class="icon plus1"></div>
                    <div class="icon tweet last"></div>
                </div>
            </header>
        </div>
