        <div class="block orange oneandhalf">
            <header id="mainNav">
                <a href="/">
                    <div id="logo">
                        <img src="/images/nxj.png" />
                        <span>blog</span>
                    </div>
                </a>
                <nav>
                    <ul>
                        <a href='/'><li class="nav home">Home</li></a>
                        <a href='/culture.html'><li class="nav culture">Our Culture</li></a>
                        <a href='/engineering.html'><li class="nav engineer">Engineering</li></a>
                        <a href='/coachescorner.html'><li class="nav ceo">Coaches&apos; Corner</li></a>
                    </ul>
                </nav>
                <div class="social-buttons">
                    {% include shareIcon.html %}
                    {% include plusoneIcon.html %}
                    {% include twitterIcon.html %}
                </div>
            </header>
        </div>
