
<div id="nxj_navbar" class="navtop">
    <div class="container">
        <div id="top" class="span-24 last">
            <div class="logo">
                <a href="/" style="">
                    <img alt="Next Jump Logo" width="37" src="http://imgb.nxjimg.com/emp_image/nextjump/images/nextjump_icon_clear.png" />
                    Next Jump
                </a>
            </div>
            <div class="last">
                <ul id="topNav">
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/about/culture" class="menuLink"> Who We Are </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/business/index" class="menuLink"> Our Business </a>
                        <ul class="subMenu">
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/shoppers/index"> Customers </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/merchants/index"> Merchants </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/employer/index"> Employers </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/careers/index" class="menuLink"> Careers </a>
                        <ul class="subMenu">
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/careers/index"> Becoming  a Next Jumper </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/careers/profiles"> Being  a Next Jumper </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/careers/apply"> Apply to be a Next Jumper </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/buzz/index" class="menuLink"> Buzz </a>
                        <ul class="subMenu">
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/buzz/media"> Media </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/buzz/pr"> Press Releases </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menuParent">
                        <a href="http://blog.nextjump.com/" class="menuLink active"> Blogs </a>
                        <ul class="subMenu">
                            <li class="subMenuItem">
                                <a href="http://blog.nextjump.com/"> Culture </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/blog/engineering"> Engineering </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/blog/devpoets"> Dev Poets Society </a>
                            </li>
                            <li class="subMenuItem">
                                <a target="_blank" href="https://www.youtube.com/officialnextjump"> YouTube Channel </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/contact/index" class="menuLink"> Contact Us </a>
                        <ul class="subMenu">
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/contact/index"> All Inquiries </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/careers/apply"> Careers </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/merchants/inquiry"> Merchant </a>
                            </li>
                            <li class="subMenuItem">
                                <a href="http://www.nextjump.com/employer/contact"> Employer </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
