<div id="footer">
    <div class="footerTopBorder"></div>
    <div class="container">
        <div class="span-4 footerSection notLast">
            <h3>BUSINESS</h3>
            <a href="/shoppers/index">Customers</a>
            <a href="/business/index">Merchants</a>
            <a href="/employer/index">Employers</a>
            <br>
            <h3>PRODUCTS</h3>
            <a target="_blank" href="http://www.corporateperks.com/">Corporate Perks</a>
            <a target="_blank" href="http://www.oo.com/">OO.com</a>
            <a href="/shoppers/mobile">Mobile</a>
        </div>
        <div class="span-4 footerSection notLast">
            <h3>WHO WE ARE</h3>
            <a href="/about/index">Overview</a>
            <a href="/about/development">Better Me</a>
            <a href="/about/nextjumpcares">Better You</a>
            <a href="/about/origins">Origins</a>
            <a href="/about/fun">Having Fun</a>
            <a href="/about/management">Leadership</a>
            <a href="/buzz/index">Buzz</a>
            <a target="_blank" href="http://blog.nextjump.com/">Blog</a>
            <a target="_blank" href="https://www.youtube.com/officialnextjump">NxJ YouTube</a>
        </div>
        <div class="span-4 footerSection notLast">
            <h3>CONTACT</h3>
            <a href="/careers/index">Careers</a>
            <a href="/employer/contact">Employer</a>
            <a href="/merchants/contact">Merchant</a>
            <a href="mailto:pr@nextjump.com">Public Relations</a>
            <a href="mailto:teambusiness@nextjump.com">Business Proposals</a>
            <a href="/contact/index">All Other Inquiries</a>
        </div>
        
        <div class="span-12 last footerSection">
            <div class="span-4 officeRow">
                <h3>OFFICE LOCATIONS</h3>
                <div class="span-4">
                    <div class="officeLocation">
                        <p>261 Fifth Avenue</p>
                        <p>8th Floor</p>
                        <p>New York, NY 10016</p>
                    </div>
                    <div class="officeLocation">
                        <p>One Kendall Square</p>
                        <p>STE B2401</p>
                        <p>Cambridge, MA 02139</p>
                    </div>
                    <div class="officeLocation">
                        <p>181 Fremont St</p>
                        <p>San Francisco, CA 94105</p>
                    </div>
                </div>
            </div>
            <div class="span-7 last officeRow">
                <div>
                    <img alt="" src="http://imgb.nxjimg.com/emp_image/nextjump/images/location_map.gif">
                </div>
                <div class="span-4">
                    <div class="officeLocation">
                        <p>99 Waterloo Road</p>
                        <p>London, SE1 8XP</p>
                    </div>
                </div>
                <div class="span-3 last">
                    <br>
                    <p><a target="_blank" href="//www.nextjump.co.uk">www.nextjump.co.uk</a></p>
                </div>
            </div>
        </div>
        <div class="footerBottom span-24 last">
            <div id="copyNotice" class="span-20">
                                    <span>© 2014 Next Jump Inc.</span>
                <span><a href="/index/privacy">Privacy Policy</a></span>
                <a href="http://nytm.org/made" target="_blank">Made in NYC</a>
            </div>
            <div class="footerShare span-4 last">
                <a class="shareIcon fbIcon" href="https://www.facebook.com/nextjump" title="Visit Next Jump on Facebook" target="_blank">
                    <span>Facebook</span>
                </a>
                <a class="shareIcon twitterIcon" href="https://www.twitter.com/nextjump" title="Visit Next Jump on Twitter" target="_blank">
                    <span>Twitter</span>
                </a>
                <a class="shareIcon linkedInIcon" href="https://www.linkedin.com/company/next-jump" title="Visit Next Jump on LinkedIn" target="_blank">
                    <span>LinkedIn</span>
                </a>
            </div>
        </div>
    </div>
</div>
