
<div id="nxj_navbar" class="navtop">
    <div class="container">
        <div id="top" class="span-24 last">
            <div id="logo">
                <a href="http://www.nextjump.com/" style=""><img alt="Next Jump Logo" width="140" src="http://imga.nxjimg.com/emp_image/nextjump/images/Full_OB_M.png" /></a>
            </div>
            <div class="last">
                <ul id="topNav">
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/about/culture" class="menuLink">
                            Our Culture
                        </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/business" class="menuLink">
                            Our Business
                        </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/project" class="menuLink">
                            Next Jump Project
                        </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/careers" class="menuLink">
                            Careers
                        </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/buzz" class="menuLink">
                            Press
                        </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://blog.nextjump.com/" class="menuLink  active">
                            Blogs
                        </a>
                    </li>
                    <li class="menuParent">
                        <a href="http://www.nextjump.com/contact" class="menuLink">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
#nxj_navbar #logo {
    padding: 0;
    margin: 0;
    float: left;
    width: 140px;
}
#nxj_navbar #logo img {
    display: inline-block;
    vertical-align: middle;
}


#nxj_navbar #logo a:hover,
#nxj_navbar #topNav li a.active,
#nxj_navbar #topNav li a:hover {
    color: #f15e24;
}
#nxj_navbar #topNav li a:hover {
    line-height: 55px;
}
#nxj_navbar .menuParent {
    line-height: 68px;
}
</style>
