
.topbar {
    width: 100%;
    height: 72px;
    background-color: #26c5fc;
}
.seeTweets {
    height: 45px;
    background-color: #26c5fc;
}
.excerpt {
    font-size: 18px;
    line-height: 26px;
    max-height: 444px;
    overflow: hidden;
}
.excerpt.shortened {
    max-height: 210px;
}

article.latest img {
    max-width: 100%;
}
article.latest .featureLabel,
article.latest .author {
    margin-bottom: 10px;
}
article.latest .previewImage {
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}
article.latest .content {
    margin-top: 20px;
}
article.latest .title {
    margin-bottom: 10px;
}
.articlePreview .title {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 60px;
    margin-right: 15px;
}

.articlePreview {
    position: relative;
    color: white;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    font-size: 20px;
    line-height: 30px;
}
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.articlePreview .tint {
    opacity:0.5;
    filter:alpha(opacity=50);
}
.articlePreview .about {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.articlePreview .author {
    float: left;
    width: 180px;
    height: 30px;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
}
.articlePreview .publishDate {
    width: 115px;
    height: 30px;
    float: right;
}
.corner-triangle {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/images/corner-triangle.png');
    width: 25px;
    height: 25px;
}
