/** nxj nav requirements */
#topNav{
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    z-index:100;
    font-size:14px;
    font-family:"Amble", Arial,Helvetica,verdana,sans-serif;
    font-weight:bold;
    float:right;
    height:58px;
}
#topNav li{
    margin:0px;
    float:left;
}
#topNav li a{
    text-transform:uppercase;
    text-decoration:none;
    color:#FFF;
    display:block;
}
#topNav.topNavDark li a, #topNav.topNavDark .subMenu li a{
    color:#FFFFFF;
}

#topNav .subMenu li{
    width:100%;
}
#topNav .subMenu li a{
    padding:2px 10px;
    font-weight:normal;
    width:200px;
}
#topNav li a:hover, #topNav li:hover > a, #topNav li a.active{
    color:#FF7400;
}
#topNav li .subMenu li a:hover, #topNav li .subMenu li:hover > a{
    color:#FFFFFF;
}
#topNav.topNavDark li a.active{
    color: #99CCFF;
}

#topNav ul{
    display:none;
}
#topNav li:hover > ul{
    display:block;
}
#topNav li:hover{
    color:#FF7400;
}
.menuParent ul.subMenu li{
    position:relative;
    clear:both;
    line-height:30px;
    background-color:#000;
    opacity:.75;
}

.menuParent ul.subMenu li.subMenuItem{
    *top:35px;
    *right:100%;
}

#topNav.topNavDark .menuParent ul.subMenu li{
    background-color:#000000;
}

.menuParent ul.subMenu li:hover, #topNav.topNavDark .menuParent ul.subMenu li:hover{
    color:#FFFFFF;
    background-color: #FF7400;
    background: linear-gradient(top, #FF9B47 0%, #FF7400 100%);
    background: -moz-linear-gradient(top, #FF9B47 0%, #FF7400 100%);
    background: -webkit-linear-gradient(top, #FF9B47 0%,#FF7400 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    opacity:1;
}

ul li.menuParent{
    padding:0 15px;
    line-height:58px;
}
.menuParent ul{
    position:absolute;
    list-style:none;
    padding:0px;
}

.menuParent .subMenu ul.superSubMenu{
    left:100%;
    top:0;
    width:100%;
}

#nxj_navbar {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 1000;
    box-shadow: 0 3px 5px #888;
    top: 0;
}
#nxj_navbar #topNav a { 
    font-family: BebasNeue, Arial, sans-serif; 
    font-weight: 500 !important;
    font-size: 22px;
}

#nxj_navbar .logo {
    width: 140px;
    float: left;
    padding: 0;
    margin: 0;
}
#nxj_navbar .logo a {
    font-family: BebasNeue, Arial, sans-serif;
    font-size: 22px;
    line-height: 58px;
    text-decoration: none;
}

.externalSiteContainer,
.wideLayout {
    margin-top: 78px;
}
#nxj_navbar .logo img {
    display: inline-block;
    vertical-align: middle;
}
#nxj_navbar .logo a ,
#nxj_navbar #topNav li a {
    color: #777;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#nxj_navbar #top { height: auto; }
#nxj_navbar .logo a:hover,
#nxj_navbar #topNav li a.active,
#nxj_navbar #topNav li a:hover {
    color: #f15e24;
}
#nxj_navbar .menuParent {
    line-height: 55px;
}
#nxj_navbar .menuParent ul.subMenu { 
    box-shadow: 0 3px 3px #888;
}
#nxj_navbar .menuParent ul.subMenu li { 
    background-color:#FFF;
    opacity: 1;
    overflow: hidden;
    border-bottom: 0;
}
#nxj_navbar #topNav .menuParent ul.subMenu {
    width: 250px;
}
#nxj_navbar #topNav .menuParent ul.subMenu li a {
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    line-height: 42px;
}
#nxj_navbar #topNav .menuParent ul.subMenu li a:hover {
    color: #fff;
    border-bottom: 0;
    background-color: #f15e24;
}

.span-24 {
    width: 950px;
    margin-right: 0;
}
.clearfix, .container {
    display: block;
}
.container {
    width: 950px;
    margin: 0 auto;
}
.footerTopBorder {
    border-top: 1px dotted #aaa;
    height: 20px;
    width: 100%;
}

/** footer requirements */
.footerSection {
    padding-top: 23px;
}
.span-4 {
    width: 150px;
    float: left;
    margin-right: 10px;
}
.officeLocation {
    padding-bottom: 17px;
}
.officeLocation p, .footerBottom {
    color: #868686;
    margin-bottom: 0px;
    padding: 0;
    font-size: 12px;
}
.span-24 {
    width: 950px;
    margin-right: 0;
}
.footerShare {
    float: right;
    position: relative;
    bottom: 5px;
}
#copyNotice {
    float: left;
}
#copyNotice span {
    margin-right: 20px;
    float: left;
}
#copyNotice a {
    margin-left: 20px;
}

#footer h3 {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
#footer a {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
}
#footer a:hover {
    color: #FF4700;
    text-decoration: none;
}
.footerSection a {
    display: block;
    font-weight: normal;
}
#footer {
    font-family: Arial, Helvetica, verdana, sans-serif;
}
.footerShare {
    float: right;
    position: relative;
    bottom: 5px;
}
.shareIcon {
    display: block;
    float: left;
    margin: 0px 5px;
    background: url("//imga.nxjimg.com/emp_image/nextjump/images/social_icon_sprite.png");
    width: 26px;
    height: 24px;
}
.shareIcon span {
    display:none;
}
.shareIcon.fbIcon {
    background-position: 0px -26px;
}
.shareIcon.twitterIcon {
    background-position: -26px -26px;
}
.shareIcon.linkedInIcon {
    background-position: -52px -26px;
}
#footer .officeRow a {
    color: #FF4700;
}

