article {
    background-color: #f4f4f4;
}
.about {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.author {
    float: left;
    width: 180px;
    height: 30px;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
}
.publishDate {
    float: left;
    width: 115px;
    height: 30px;
}
.social {
    float: right;
    margin-right: 20px;
}
.social .icon {
    float: left;
    margin-right: 10px;
}
header {
    height: 200px;
    padding: 30px;
    position: relative;
}

header .title {
    line-height: 50px;
    font-size: 50px;
    color: white;
}

.post {
    padding: 20px;
}
.attribution {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
