
.orange {
    background-color: #fa6900;
}
.gray {
    background-color: #f4f4f4;
}
.ceooffice {
    background-color: #d94d39;
}
.engineering {
    background-color: #69d2e7;
}
.culture {
    background-color: #3fb8af;
}
.info {
    background-color: #e0e4cc;
}
