
.orange {
    background-color: #fa6900;
}
.gray {
    background-color: #f4f4f4;
}
.ceooffice {
    background-color: #d94d39;
}
.engineering {
    background-color: #69d2e7;
}
.culture {
    background-color: #3fb8af;
}
.info {
    background-color: #e0e4cc;
}

.icon {
    height: 30px;
    width: 30px;
    background-image: url('/images/icons.png');
}
.icon.tweet   { background-position:  -45px; }
.icon.plus1   { background-position:  -89px; }
.icon.twitter { background-position: -135px; }
.icon.person  { background-position: -178px; }
.icon.date    { background-position: -223px; }

nav .nav {
    background-color: #fa6900;
}
.nav {
    border-radius: 5px;
    color: white;
    width: 215px;
    margin: 0 auto 5px;
    padding: 15px;
}
.nav:hover {
    background-color: #ff8a31;
}
ul {
    list-style: none;
}
nav ul {
    margin-left: 0;
}
nav li {
    border-radius: 5px;
    color: white;
    width: 215px;
    margin: 0 auto 5px;
    padding: 15px;
}
nav li a {
    color: white;
}
nav li a:hover {
    color: white;
}
