<!DOCTYPE html>
<html>

<!-- TRACKING -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36502533-2', 'blog.nextjump.com');
  ga('send', 'pageview');

</script>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Next-jump-blog.github.io : A blog!" />
    <title>{{ page.title }} - Next Jump</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/site.css" / >
    <link rel="stylesheet" href="/stylesheets/post.css" / >
    <link rel="stylesheet" href="/stylesheets/nxjnav.css" />

    <style>
        @font-face {
            font-family: 'BebasNeue';
            font-style: normal;
            font-weight: normal;
            src: url('/assets/BebasNeue.otf');
        }
    </style>
  </head>

<body>

{% include nxj_navbar.html %}

<div class="wideLayout">
    <div class="row">
        <div class="small-12 medium-12 large-4 column">
            {% include navblock.html %}
            {% include infoblock.html %}
            <div id="recentPosts" class="block">
                <header>Recent Posts</header>
                <div class="content">
                    {% for post in site.posts limit:5 %}
                    <div class="recentLink"><a href="{{ post.url }}">{{ post.title }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="small-12 medium-12 large-8 column">
            <article>
                <header class="{{ page.category }}">
                    <div class="title {{ page.category }}">{{ page.title }}{% if page.subtitle %}: {{ page.subtitle }} {% endif %}</div>
                    <div class="about {{ page.category }}">
                        <div class='author'>
                            <div class="icon person left"></div>
                            <div> {{ page.author }} </div>
                        </div>
                        <div class='publishDate'>
                            <div class="icon date left"></div>
                            <div> {{ page.date | date: "%d %b" }} </div>
                        </div>
                        <div class="social">
                            <div style="float: left; margin-right: 20px;">Share this Post</div>
                            {% include shareIcon.html %}
                            {% include plusoneIcon.html %}
                            {% include twitterIcon.html %}
                        </div>
                        
                    </div>
                </header>

                <div class="post">
                    {% if page.previousBlog %}
                    <div class="attribution"><em>[ This post was previously published on <a href="{{page.previousBlogLink}}">{{ page.previousBlog }}</a> ]</em></div>
                    {% endif %}

                    {{ content }}
                </div>
            </article>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'nextjump';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>
    </div>
</div>

{% include nxj_footer.html %}

<script>
    var imgs = document.querySelectorAll('.post img');
    var foreach = Array.prototype.forEach;
    foreach.call(imgs, function(node){ node.parentNode.style.textAlign = 'center'; });
</script>

  </body>
</html>
